.footer {
    background-color: var(--primary-dark);
    height: 100px;
    /* margin: 0; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: #fff;
  } 
  
  .socialmedia {
    display: flex;
    align-items: center;
  }
  
  .socialmedia a {
    margin-left: 2rem;
    color: #fff;
    font-size: 1.5rem;
    transition: all 0.3s ease;
  }
  
  .socialmedia a:hover {
    color: var(--primary-orange);
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }